.container {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.container-inner {
	background: white;
	padding: 10px 20px 50px;
}

.top {
	background: url(../images/trees2.jpg);
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	height: 28.43751vw;
	background-position: center bottom;
	min-height: 300px;
}

.title {
	text-align: center;
	color: red;
	font-size: 5vmin;
	line-height: 7vmin;
	position: fixed;
	left: 30px;
	right: 30px;
	z-index: 1;
	height: 28.43751vw;
	min-height: 300px;
}

.title a {
	padding: 5px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.title span {
	max-width: 1200px;
	display: inline-block;
}

.treeline {
	height: 28.4375vw; /* 155 / 1280 */
	background: url(../images/trees-mask2.png);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 300px;
}

h1 {
   font-size: 44px;
   line-height: 60px;
   margin: 0px 0px 15px 0px;
   font-weight: 400;
   font-style: normal;
   font-family: "Cabin", Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

h2 {
   font-size: 36px;
   line-height: 46px;
   margin: 0px 0px 25px 0px;
   font-family: "Cabin", Helvetica, 'Helvetica Neue', Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
}

h3 {
   font-size: 28px;
   line-height: 36px;
   margin: 0px 0px 19px 0px;
   font-family: "Cabin", Helvetica, 'Helvetica Neue', Arial, sans-serif;
   font-weight: 500;
   font-style: normal;
}

h4 {
   margin-bottom: 25px;
   font-weight: 600;
   font-style: normal;
}

p {
   margin: 0px 0px 28px 0px;
   text-transform: inherit;
   font-size: 16px;
   font-family: "Open Sans", Helvetica, 'Helvetica Neue', Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 181%;
}

a {
	color: #5AB897;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 a {
	color: inherit;
}

.content article p:first-child {
   font-size: 22px;
   line-height: 1.56em;
   margin: 0px 0px 28px 0px;
   font-family: "Open Sans", Helvetica, 'Helvetica Neue', Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #3f3f3f;
}

blockquote.pull-quote {
   margin: 0em 1em 1em 0em;
   border-left: 3px solid #ccc;
   padding: 0em 0em 0em 0.7em;
}

.content-wrapper {
	margin: 0 auto;
	text-align: left;
	width: 100%;
	max-width: 960px;
	padding: 50px 0 0;
	font-size: 16px;
	min-height: 100%;
	font-family: "Open Sans", Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 25px;
	color: #333;
	overflow: hidden;
	position: relative;
}

.content {
	width: 100%;
	max-width: 680px;
	float: right;
}

h5 {
   margin: 0px 0px 25px 0px;
}

p.quote {
   font-size: 23px;
   line-height: 28px;
   font-style: italic;
   color: #666666;
   margin: 0px;
}

blockquote {
   font-size: 26px;
   line-height: 37px;
   margin-bottom: 25px;
}

.about {
	float: left;
	width: 240px;
	text-align: right;
	top: 50px;
	left: 0;
	position: absolute;
}

.about p {
	font-size: 14px;
	max-width: 550px;
}

.about .mugshot img {
	border-radius: 40px;
}

.pagination a {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif;
	text-transform: uppercase;
	color: #333;
	border: 3px solid #333;
	padding: 6px 0;
	float: right;
	text-align: center;
	width: 150px;
	font-size: 20px;
}

.pagination a:hover {
	color: #fff;
	background: #333;
	text-decoration: none;
}

.pagination a[rel="prev"] {
	float: left;
}

.useful-links {
	text-align: center;
	padding: 30px 0;
	color: #CCC;
}

.useful-links a {
	padding: 0 10px;
}

.related {
	clear: left;
}

pre {
	padding: 15px;
	color:#eee;
	background-color:#3f3f3f
}

p code {
	background: #EEE;
	padding: 1px 5px;
	border-radius: 2px;
	border: 1px solid #DDD;
}

.highlighttable pre {
	margin: 0;
}

.highlighttable {
	margin-bottom: 28px;
}

.post-date {
	color: #999;
	font-size: 18px;
	margin-bottom: 18px;
}


@media screen and (max-width: 1015px) {
	.content {
		max-width: none;
	}

	.about {
		margin: 30px 0;
		width: auto;
		text-align: left;
		position: relative;
		padding: 0 0 0 100px;
		top: 0;
	}

	.about .mugshot {
		position: absolute;
		top: 5px;
		left: 0;
	}

	.about h3 {
		margin-bottom: 4px;
	}
}
