/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 16px; line-height: 1.6; font-weight: 100; background: #f6f6f6;
}
body, button, input, select, textarea { font-family: sans-serif; color: #666; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 500; color: #333; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */



#container {
	margin: 0 auto;
	width: 40em;
}

code {
	
}


pre code {
	padding: 1em !important;
	border-radius: 1em;
	margin-left: -1em;
	margin-right: -1em;
	color: #EEE;
	background: #333;
	display: block;
	font-size: 14px !important;
}

p code {
	padding:3px 7px;
	background: #FDFFD1;
	color: #666;
	font-size:  14px;
	border-radius: 6px;
	font-weight: 500;
	text-shadow: 0 1px 0 #FEFEFE;
}

code.bash .nv {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

article header, article footer {
	text-align: center;
	width: 400px;
	margin: 0 auto 35px;
	border: 1px solid #EEE;
	border-width: 1px 0;
	font-size: 18px;
}


#container > header {
	background: url(../images/header-bg.png) bottom left no-repeat;
	height: 90px;
	position: relative;
	margin-bottom: 45px;
}
#container > header a {
	background: url(../images/logo.png) top left no-repeat;
	height: 50px;
	width: 224px;
	text-indent: -10000px;
	display: block;
	top: 17px;
	left: 17px;
	position: absolute;
}
#container > footer {
	border-top: 1px solid #CCC;
	clear: both;
	margin: 20px 0;
}

#container > footer img {
	float: left;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #666;
	text-shadow: 0 2px 0 white;
}

h1 { font-size: 36px; }


a {
	color: #5AB897 !important;
	text-decoration: none;
	font-weight: 300;
}

a:hover {
	text-decoration: underline;
}

p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 15px solid white;
	box-shadow: 1px 1px 0 #DDD;
	border-radius: 2px;
}

.pagination a {
	display: block;
	padding: 0 20px;
	height: 32px;
	line-height: 32px;
	float: left;
	background: #5AB897;
	color: white !important;
	border-radius: 30px;
	min-width: 120px;
	text-align: center;
	margin: 20px 0 40px 0;
	text-shadow: 1px 1px 0 #439D7E;
	border: 1px solid #439D7E;
}

.pagination a:hover {
	text-decoration: none;
	text-shadow: none;
	background: #439D7E;
}

.pagination a[rel=next] {
	float: right;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
