{% capture age %}{{ site.time | date: "%s" | minus: 497750400 | divided_by: 31557600 }}{% endcapture %}
<div class="about">
    <a href="/" class="mugshot">
        <img src="https://s.gravatar.com/avatar/ddea2d8ed451ea348d5f638bd92ca948?s=160" width="80" height="80">
    </a>
    <div class="contact">
        <h3><a href="/">James Moss</a></h3>
        <p>
            I’m a 31 year old developer and hacker from Brighton, England.  Currently employed at <a href="http://simpplr.com/">Simpplr</a> where I build employee community products.
        </p>
    </div>
</div>
