.Container {
	max-width: 940px;
	margin: 0 auto;
	padding: 50px 20px;
	font-size: 16px;
	min-height: 100%;
	font-family: "Open Sans", Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	color: #333;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1024px) {
		max-width: none;
		flex-direction: column;
		padding: 0;
	}
}

.Container-about {
	width: 240px;
	padding: 0 40px 0 0;
	flex-shrink: 0;

	@media (max-width: 1024px) {
		width: auto;
		padding: 0;
	}
}

.Container-content {
	@media (max-width: 1024px) {
		flex-direction: column;
		padding: 0 15px 50px;
	}
}
