.UsefulLinks {
	text-align: center;
	padding: 30px 0;
	color: #CCC;
}

.UsefulLinks a {
	padding: 0 10px;
}

.Related {
	margin-top: 60px;

	.Related-item {
		margin-bottom: 5px;
	}
}

.PostDate {
	color: #999;
	font-size: 18px;
	margin-bottom: 32px;
}
