<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/monokai.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/ymf5twc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 

   <!-- CSS concatenated and minified via ant build script-->

</head>

<body>

  <div id="container">
    <header>
		<a href="/">James Moss: Website Design &amp; Development</a>
    </header>
    <div id="main" role="main">
		{{ content }}
	</div>
    <footer>
    
		<p>I’m a 26 year old web developer/hacker/gadget lover living and working in Brighton, England.  Currently employed at <a href="http://www.message.uk.com/">Message</a> as a developer working on e-commerce and EPOS platforms.</p>
		
		<p>When I’ve got any spare time I enjoy blogging about web development: PHP, JavaScript, MySQL, search, performance, scalability and the cloud.</p>
		
		<p>You can find my various online profiles below</p>
		
		<ul>
			<li><a href="http://twitter.com/jimbomoss">Twitter</a></li>
			<li><a href="http://github.com/jamesmoss">GitHub</a></li>
			<li><a href="http://delicious.com/jamesmoss">Delicious</a></li>
			<li><a href="http://facebook.com/mossdog">Facebook</a></li>
		</ul>
		
    </footer>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->


  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>