<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="The personal blog of a developer and hacker from Brighton, England.">
	<meta name="author" content="James Moss">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cabin:500|Open+Sans:400italic,400,700|Inconsolata|Lato" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css?v4">
	<link rel="stylesheet" href="/css/zenburn.css">
	<!-- end CSS-->
</head>

<body>

    {% if page.path contains '_posts' %}
    <div class="top">
        <header class="title">
            <a href="/">{{ page.title }}</a>
        </header>
    </div>


    {% endif %}

    <div class="container">

        <div id="top" class="image-wrap">

        </div>

        <div class="container-inner">
            <div class="content-wrapper">
                <div class="content">
                {{ content }}
                </div>
            </div>
        </div>
    </div>

  <!-- CSS concatenated and minified via ant build script-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-4950473-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
